<header class="slds-global-header_container">
    <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text_focus">Skip to Navigation</a>
    <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text_focus">Skip to Main Content</a>
    <div class="slds-global-header slds-grid slds-grid_align-spread">
        <div class="slds-global-header__item">
            <div class="slds-global-header__logo">
                <span class="slds-assistive-text">E-GESCOM</span>
            </div>
        </div>


        <div class="slds-global-header__item">
            <ul class="slds-global-actions">
                <li class="slds-global-actions__item">

                    <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-is-closed">
                        <button class="slds-button slds-button_icon slds-button_icon-border-none" aria-haspopup="true" title="Show More">
                            <span class="slds-avatar slds-avatar_circle slds-avatar_medium">
                                <img alt="Person name" src="/app/public/assets/images/avatar1.jpg" title="" />
                            </span>
                        </button>

                        <div class="slds-dropdown slds-dropdown_right slds-dropdown_large">
                            <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
                                <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                                    <span class="slds-truncate" title="Menu Item One">
                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                                              <use xlink:href="/app/public/assets/icons/utility-sprite/svg/symbols.svg#user"></use>
                                            </svg>{{ session.name }} -- {{ session.mail }}
                                        </span>
                                </li>
                                <li class="slds-has-divider_top-space" role="separator"></li>
                                <li class="slds-p-horizontal_small slds-p-vertical_xx-small" role="presentation">
                                    <a href="/app/" role="menuitem" tabindex="-1" class="slds-button slds-button_text-destructive ">
                                        <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/app/public/assets/icons/action-sprite/svg/symbols.svg#close"></use>
                                        </svg>Déconnexion
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>




                </li>
            </ul>
        </div>





    </div>
</header>
