{% extends "_template.html.twig" %}
    {% block title %}Dashboard{% endblock %}
    {% block content %}

        {% set widgetPromoArticle = '/app/widgets/' ~ agence ~ '/promoArticle' %}








        <div class="slds-grid slds-wrap slds-gutters">


            <div class="slds-col slds-size_1-of-1 slds-large-size_12-of-12 slds-m-bottom_medium">
                <div>
                    <div class="slds-card">
                        <div class="slds-p-around_medium">
                            <div class="slds-grid slds-wrap slds-gutters">





                                {% if modules.INFORMATIQUE and session.informatique %}
                                    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_medium">
                                        <a href="/app/informatique"
                                           class="slds-box slds-box_link slds-box_x-small slds-media">
                                            <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">

                                            <span class="slds-icon_container slds-icon-standard-service-appointment-capacity-usage">
                                                <svg class="slds-icon slds-icon_large" aria-hidden="true">
                                                    <use xlink:href="/app/public/assets/icons/standard-sprite/svg/symbols.svg#code_playground"></use>
                                                </svg>
                                            </span>

                                            </div>
                                            <div class="slds-media__body slds-border_left slds-p-around_small">
                                                <h2 class="slds-truncate slds-text-heading_small"
                                                    title="Share the knowledge">Module Informatique</h2>
                                                <p class="slds-m-top_small">
                                                    <!--Rogatus ad ultimum admissusque in consistorium ambage nulla--></p>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    {% endblock %}

    {% block script %}

        function ini(){
        AppLauncher();

    {% endblock %}
