{% extends "_template.html.twig" %}

{% block title %}{{ systemTableName }}{% endblock %}

{% block content %}
    {% set widgetlisteUser = '/app/widgets/informatique/Altassians/widgetlisteUser'  %}
    {% set widgetListeProjet = '/app/widgets/informatique/Altassians/widgetListeProjet'  %}
    {% set widgetTempoUsers = '/app/widgets/informatique/Altassians/tempo/users'  %}

    <div class="slds-page-header slds-page-header_record-home slds-m-bottom_medium">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                      <span class="slds-icon_container slds-icon-standard-product">
                        <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                          <use xlink:href="/app/public/assets/icons/standard-sprite/svg/symbols.svg#file"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span>Module</span>
                                    <span class="slds-page-header__title slds-m-right_small slds-align-middle slds-truncate"
                                          title="Altassian">Altassian</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__col-actions">
                <div class="slds-page-header__controls">
                    <div class="slds-page-header__control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slds-grid slds-gutters">
        <div class="slds-col">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_12-of-12">
                <span>
                    <iframe id="widgetlisteUser"
                            name="widgetlisteUser"
                            class="iframeresizer"
                            title="widgetlisteUser"
                            width="100%"
                            height="100%"
                            allowtransparency="true"
                            scrolling="no"
                            style="border: none"
                            onload="resizeIframe(this)"
                            src="{{ widgetlisteUser }}"
                    >
                    </iframe>
                </span>
                </div>
            </div>
        </div>

        {#Liste projet#}
        <div class="slds-col">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_12-of-12">
                <span>
                    <iframe id="widgetListeProjet"
                            name="widgetListeProjet"
                            class="iframeresizer"
                            title="widgetListeProjet"
                            width="100%"
                            height="100%"
                            allowtransparency="true"
                            scrolling="no"
                            style="border: none"
                            onload="resizeIframe(this)"
                            src="{{ widgetListeProjet }}"
                    >
                    </iframe>
                </span>
                </div>
            </div>
        </div>
        <div class="slds-col">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_12-of-12">
                <span>
                    <iframe id="widgetTempoUsers"
                            name="widgetTempoUsers"
                            class="iframeresizer"
                            title="widgetTempoUsers"
                            width="100%"
                            height="100%"
                            allowtransparency="true"
                            scrolling="no"
                            style="border: none"
                            onload="resizeIframe(this)"
                            src="{{ widgetTempoUsers }}"
                    >
                    </iframe>
                </span>
                </div>
            </div>
        </div>
    </div>
</html>
{% endblock %}

{% block script %}

    function ini(){
    AppLauncher();
    }

{% endblock %}
